.backBtn {
  position: absolute;
  top: 20px;
  left: 50px;
  background-color: white;
  font-size: 24px;
  border: 3px solid teal;
  border-radius: 3px; 
  cursor: pointer;
  width: 100px;
  height: 40px;
  color: teal;
  margin-top: 20px;
}

.backBtn:hover {
  background-color: teal;
  color: white;
}
